{% extends "blog/blog_base.html" %}
{% import "common/macros.html" as macros %}


{% block title %}{{ post.title }} | PySite - Blog{% endblock %}


{% block blog_main %}
    {% if current_user.can(Permission.CURD_BLOG) %}<div>
        <a href="javascript:delete_post('{{ url_for('.delete_post', post_id=post.id) }}');" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-trash text-muted"></span></a>
        <a href="{{ url_for('.edit_post', post_id=post.id) }}" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-edit text-muted"></span></a>
        <a href="javascript:create_post('{{ url_for('.add_post') }}')" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-plus text-muted"></span></a>
    </div>{% endif %}

    {{ macros.widget_blog_metas(post, moment=moment, editable=true if current_user.can(Permission.CURD_BLOG) else false) }}

    <h1 class="docs-post-title docs-text-blog">{{ post.title }}{% if post.private %}<small><span class="glyphicon glyphicon-eye-close"></span></small>{% endif %}</h1>

    <div class="clearfix"></div>

    <div id="md-editor-view" class="blog-post-content markdown-body">
        <textarea style="display:none;">{{ post.body | safe }}</textarea>
    </div>
{% endblock %}


{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mdeditor/css/editormd.preview.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mdeditor/lib/katex/katex.min.css') }}">
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='mdeditor/editormd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mdeditor/lib/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mdeditor/lib/prettify.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mdeditor/lib/raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mdeditor/lib/underscore.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mdeditor/lib/sequence-diagram.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mdeditor/lib/katex/katex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mdeditor/lib/flowchart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='mdeditor/lib/jquery.flowchart.min.js') }}"></script>
    <script type="text/javascript">
        editormd.markdownToHTML("md-editor-view", {
            htmlDecode      : "style,script,iframe",  // you can filter tags decode  // true
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
            markdownSourceCode: false
        });
    </script>
{% endblock %}
