{% extends "common/base.html" %}


{% block body_style %}docs-bg-blog{% endblock body_style %}


{% block content %}
    <div class="container">
        <div class="docs-page docs-page-blog">
            <div class="row">
                <div class="col-md-9 col-md-push-3">{% block blog_main %}{% endblock %}</div>
                <div class="col-md-3 col-md-pull-9">
                    <div class="blog-sidebar-wrapper">{% block blog_sidebar %}
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <b>所有分类</b>
                            </div>
                            <div class="panel-body">
                              xalsdfjaskd
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <b>按时间归档</b>
                            </div>
                            <div class="panel-body">
                              xalsdfjaskd
                            </div>
                        </div>
                    {% endblock %}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
