{% extends "common/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Blog - Edit Post{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Edit Post</h1>
    </div>
    <div>
        {{ wtf.quick_form(form) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/Markdown.Converter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Markdown.Sanitizer.min.js') }}"></script>
{% endblock %}
