{% extends "common/base.html" %}
{% import "common/macros.html" as macros %}
{% import "common/wtf.html" as wtf %}

{% block title %}Blog - Index{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
    </div>
    <div>
        {% if current_user.can(Permission.roles['administrator']) %}
            {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    <div class="post-tabs">
        <ul class="nav nav-tabs">
            <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('blog.show_all') }}">All</a>
            </li>
            {% if current_user.is_authenticated %}
                <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('blog.show_followed') }}">Followers</a>
                </li>
            {% endif %}
        </ul>
        {% include 'blog/_posts.html' %}
    </div>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'blog.index') }}
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/Markdown.Converter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Markdown.Sanitizer.min.js') }}"></script>
{% endblock %}