<!DOCTYPE html>
<html lang="zh">
<head>
{% block head %}
{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">
{% endblock metas %}
    <title>{% block title %}Base Template Page - PySite{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/app-icon72x72@2x.png') }}">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/app-icon72x72@2x.png') }}">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/app-icon72x72@2x.png') }}">
    <meta name="msapplication-TileColor" content="#0e90d2">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!-- <link rel="canonical" href="http://www.ccoder.wang/"> -->
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock styles %}
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5shiv.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    <![endif]-->
{% endblock head %}
</head>
<body>
{% block body %}
    <header class="docs-header">
{% block header %}
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
            {% block header_content %}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('main.index') }}">首页</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{{ url_for('blog.index') }}">博客</a></li>
                        <li><a href="{{ url_for('music.index') }}">音乐</a></li>
                        <li><a href="{{ url_for('movie.index') }}">电影</a></li>
                        <li><a href="{{ url_for('photo.index') }}">图册</a></li>
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">工具 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('utils.files') }}">文件中转站</a></li>
                                {% if current_user.is_authenticated %}
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ url_for('utils.passbook') }}">密码簿</a></li>
                                    <li><a href="{{ url_for('utils.cashbook') }}">记账簿</a></li>
                                {% endif %}
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Another action</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li id="global-nav-system" class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ url_for('static', filename='img/avatar.png') }}" class="img-circle" style="width:16px;height:16px;"/> 管理员<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.user') }}">用户设置</a></li>
                                <li><a href="{{ url_for('auth.register') }}">添加用户</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('main.ctm_index') }}" target="_blank">分类与标签管理</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                    {% endif %}
                    </ul>
                </div>
            {% endblock header_content %}
            </div>
        </div>
{% endblock header %}
    </header>

    <section class="docs-content {% block body_style %}docs-bg-common{% endblock body_style %}">
{% block content %}
        <div class="container">{% block main_content %}{% endblock main_content %}</div>
{% endblock content %}
    </section>

    <footer class="docs-footer">
{% block footer %}
        <div class="container">
        {% block footer_content %}
            <ul class="footer-links">
                <li><a href="#">GitHub仓库</a></li>
                <li><a href="#">实例</a></li>
                <li><a href="#">精选网站</a></li>
                <li><a href="#">关于</a></li>
            </ul>
            <p>Designed and built with all the love in the world by @mdo and @fat. Maintained by the core team with the help of our contributors.</p>
            <p><b>&copy;Copyright</b> by<b> Kui Wang</b>. All rights reserved.</p>
        {% endblock footer_content %}
        </div>
{% endblock footer %}
    </footer>

{% block notification %}
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">{% block notification_header %}
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 id="myModalTitle" class="modal-title">{% block notification_title %}{% endblock notification_title %}</h4>{% endblock notification_header %}
                </div>
                <div id="myModalBody" class="modal-body">{% block notification_body %}{% endblock notification_body %}
                </div>
                <div id="myModalFooter" class="modal-footer">{% block notification_footer %}{% endblock notification_footer %}</div>
            </div>
        </div>
    </div>
{% endblock notification %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-2.2.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment-with-locales.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //
	        // flask moment timestamp
	        //
            moment.locale('zh-cn');
        	$('.flask-moment').each(function() {
                $(this).text(eval('moment("' + $(this).data('timestamp') + '").' + $(this).data('format') + ';'));
                $(this).removeClass('flask-moment');
                $(this).css('display', 'inline');
            });
            //
            // 以模态框的形式显示flash消息
            //
            var flash_msg = {% for m in get_flashed_messages() %}'<p>{{ m }}</p><br>' + {% endfor %}'';
            if (flash_msg != '') {
                notification_init(null, flash_msg, null);
                notification_show();
            }
        });
    </script>
{% endblock scripts %}
{% endblock body %}
</body>
</html>