<!DOCTYPE html>
<html lang="en">
<head>
{% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
    <title>{% block title %}Base - PySite{% endblock title %}</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='app-icon72x72@2x.png') }}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='app-icon72x72@2x.png') }}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='app-icon72x72@2x.png') }}">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!-- <link rel="canonical" href="http://www.example.com/"> -->
{% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">PySite</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('blog.index') }}">博客</a></li>
                    <li><a href="{{ url_for('music.index') }}">音乐</a></li>
                    <li><a href="{{ url_for('movie.index') }}">电影</a></li>
                    <li><a href="{{ url_for('pages.index') }}">专题</a></li>
                    <li><a href="{{ url_for('pages.index', subject='design') }}">设计</a></li>
                    <li><a href="{{ url_for('files.index') }}">资源</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_admin() %}
                        <li><a href="{{ url_for('user.list_users') }}">用户管理</a></li>
                    {% endif %}
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{{ current_user.gravatar(size=18) }}"/>
                            &nbsp;{{ current_user.username }}&nbsp;
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                        {% if current_user.is_authenticated %}
                            <li><a href="{{ url_for('user.profile', username=current_user.username) }}">个人资料</a>
                            </li>
                        {% endif %}
                            <li><a href="{{ url_for('auth.change_password') }}">修改密码</a></li>
                            <li><a href="{{ url_for('auth.change_email_request') }}">更改邮箱</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">退出</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}">注册</a></li>
                    <li><a href="{{ url_for('auth.login') }}">登陆</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block navbar2 %}{% endblock %}
{% block content %}
    <div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
    </div>
{% endblock %}
{% block footer %}
    <div class="footer panel-footer" style="margin-top: 60px; padding: 24px 0;">
        <div class="container" style="min-height: 120px;">
            <b>&copy;Copyright</b> by<b> Kui Wang</b>. All rights reserved.
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-2.2.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% endblock %}
</body>
</html>