{% extends "common/base.html" %}
{% import "common/macros.html" as macros %}

{% block title %}PySite - Users{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>网站用户管理</h1>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>确认</th>
                <th>数据库ID</th>
                <th>注册邮箱(Email)</th>
                <th>用户名</th>
                <th class="text-center">权限</th>
                <th class="text-center">注册时间</th>
                <th class="text-center">最后访问</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><span
                            class="glyphicon {% if user.confirmed %}glyphicon-ok{% else %}glyphicon-remove{% endif %}"></span>
                    </td>
                    <th><a href="{{ url_for('user.edit_profile_admin', user_id=user.id) }}"
                           target="_blank">{{ user.id }}</a></th>
                    <td>{{ user.email }}</td>
                    <td><a href="{{ url_for('user.profile', username=user.username) }}"
                           target="_blank">{{ user.username }}</a></td>
                    <td class="text-center">{{ user.permission_bin }}</td>
                    <td class="text-center">{{ moment(user.member_since).fromNow() }}</td>
                    <td class="text-center">{{ moment(user.last_seen).fromNow() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'user.list_users') }}
        </div>
    {% endif %}
{% endblock %}
