{% extends "common/base.html" %}
{% import "common/macros.html" as macros %}

{% block title %}Index - PySite{% endblock %}

{% block page_content %}
    {% for user in users %}
        <ul>
            <li><p><a href="{{ url_for('user.profile', username=user.username) }}">{{ user.username }}</a>,
                {{ user.email }}, {{ user.name }}, {{ user.member_since }}</p></li>
        </ul>
    {% endfor %}
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'user.list_users') }}
        </div>
    {% endif %}
{% endblock %}