{% extends "photo/photo_base.html" %}
{% import "common/macros.html" as macros %}


{% block title %}图册 | PySite{% endblock %}


{% block photo_main %}
    {{ macros.widget_navigation_tabs(categories, c_sel) }}

    {% if current_user.can(Permission.CURD_PHOTO) %}
    <a href="{{ url_for('.add_post') }}" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-plus text-muted"></span></a>
    {% endif %}

    <div class="clearfix"></div>

    <div class="photo-item-list">
        {% for post in posts %}
        <div class="photo-item-wrapper">
            <p class="photo-item-title">
                <span class="glyphicon glyphicon-eye-{% if post.private %}close{% else %}open{% endif %} text-muted"></span><a href="{{ url_for('.get_post', post_id=post.id) }}" class="docs-text-photo">{{ post.title }} [{{ post.count }}P]</a>
            </p>
            <div class="docs-post-metas">
                <span><i class="glyphicon glyphicon-calendar"></i>{{ moment(post.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</span>
                <span><i class="glyphicon glyphicon-eye-{% if post.private or post.category.private %}close{% else %}open{% endif %}"></i>{{ post.view_count }}</span>
                <span><i class="glyphicon glyphicon-bookmark"></i><a href="{{ url_for('.index', c_id=post.category_id) }}">{{ post.category.name }}</a></span>
                {% for tag in post.tags %}
                <span><i class="glyphicon glyphicon-tag"></i>{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% if pagination %}{{ macros.widget_pagination(pagination, '.index') }}{% endif %}
{% endblock %}
