{% extends "common/common_base.html" %}


{% block title %}密码本{% endblock %}


{% block styles %}
    {{ super() }}
    <style type="text/css">
        .table {
            width: 968px;
            table-layout: fixed;
            word-wrap: break-word;
            word-break: break-all;
        }
        .record-name {
            width: 32%;
        }
        .record-user {
            width: 24%;
        }
        .record-user > span:first-child {
            font-weight: bold;
        }
        .record-user > span:last-child {
            color: red;
        }
        .record-comments {
            width: 44%;
        }
        .text-center {
            text-align: center !important;
        }
        .clickable {
            cursor: pointer;
        }
        .table p {
            margin-bottom: 5px;
        }
        .table p:last-child {
            margin-bottom: 0;
        }

        .table-responsive {
            -webkit-overflow-scrolling: touch !important;
        }

        .table-responsive .table {
            max-width: none;
        }
    </style>
{% endblock %}


{% block common_main %}
    <div>
        <a href="javascript:add_record()" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-plus text-muted"></span></a>
    </div>

    <h1 class="docs-page-title docs-text-common">密码本</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="record-name">记录名称（关键字）</th>
                    <th class="record-user text-center">用户名 / 密码</th>
                    <th class="record-comments text-center">其它信息</th>
                </tr>
            </thead>
            <tbody>{% for record in records %}
                <tr id="record-{{ record.id }}" data-name="{{ record.name }}" data-keyword="{{ record.keyword }}" data-host="{{ record.host }}" data-username="{{ record.username }}" data-password="{{ record.password }}" data-comments="{{ record.comments }}">
                    <th class="record-name clickable docs-text-common" onclick="display_record({{ record.id }})">{{ record.name }}{% if record.keyword %}({{ record.keyword }}){% endif %}</th>
                    <td class="record-user clickable text-center" onclick="switch_password(this)"><span>{{ record.username }}</span><span class="hidden">{{ record.password }}</span></td>
                    <td class="record-comments">{{ record.comments_html | safe }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <script type="text/javascript">
        var clipboard = new ClipboardJS('.btn-clipboard');
        var form_html = '<form id="record-form" class="form-horizontal" method="POST" action="">\
    {{ form.hidden_tag() }}\
    <input type="text" class="hidden" id="record-id" name="id" value="">\
    <div class="form-group">\
        <label for="record-name" class="col-sm-3 control-label">*记录名称</label>\
        <div class="col-sm-6">\
            <input type="text" class="form-control" id="record-name" name="name" placeholder="网址名称">\
        </div>\
    </div>\
    <div class="form-group">\
        <label for="record-keyword" class="col-sm-3 control-label">关键字</label>\
        <div class="col-sm-3">\
            <input type="text" class="form-control text-uppercase" id="record-keyword" name="keyword" placeholder="(可选)">\
        </div>\
    </div>\
    <div class="form-group">\
        <label for="record-host" class="col-sm-3 control-label">主机地址</label>\
        <div class="col-sm-6">\
            <input type="text" class="form-control" id="record-host" name="host" placeholder="http://">\
        </div>\
    </div>\
    <div class="form-group">\
        <label for="record-username" class="col-sm-3 control-label">用户名</label>\
        <div class="col-sm-5">\
            <input type="text" class="form-control" id="record-username" name="username" placeholder="用户名">\
        </div>\
    </div>\
    <div class="form-group">\
        <label for="record-password" class="col-sm-3 control-label">密码</label>\
        <div class="col-sm-7">\
            <input type="text" class="form-control" id="record-password" name="password" placeholder="密码">\
        </div>\
    </div>\
    <div class="form-group">\
        <label for="record-comments" class="col-sm-3 control-label">其它信息</label>\
        <div class="col-sm-8">\
            <textarea rows="5" class="form-control" id="record-comments" name="comments" placeholder="输入备注内容..."/>\
        </div>\
    </div>\
    <div class="form-group">\
        <div class="col-sm-offset-3 col-sm-9">\
            <button type="submit" class="btn btn-primary">提交</button>\
        </div>\
    </div></form>';
        function add_record() {
            notification_init('新建记录', form_html, '');
            $('#record-form').attr('action', '{{ url_for(".passbook_create_record") }}');
            notification_show();
        }
        function edit_record(id) {
            notification_init('修改记录', form_html, '');
            $('#record-form').attr('action', '{{ url_for(".passbook_update_record", record_id=0) }}'.replace(/0/, id));
            var id_str = '#record-' + id;
            $('#record-id').val(id);
            $('#record-name').val($(id_str).attr('data-name'));
            $('#record-keyword').val($(id_str).attr('data-keyword'));
            $('#record-host').val($(id_str).attr('data-host'));
            $('#record-username').val($(id_str).attr('data-username'));
            $('#record-password').val($(id_str).attr('data-password'));
            $('#record-comments').val($(id_str).attr('data-comments'));
            notification_show();
        }
        function delete_record(id) {
            var footer_html = '<button type="button" class="btn btn-default" data-dismiss="modal">取消</button><a href="{{ url_for('.passbook_delete_record', record_id=0) }}" class="btn btn-danger">删除</a>';
            notification_init('删除记录', '确定删除此条记录？', footer_html.replace(/0/, id));
            notification_show();
        }
        function display_record(id) {
            var id_str = '#record-' + id;
            var header_html = $(id_str).attr('data-name') + ($(id_str).attr('data-keyword') == '' ? '' : ('（' + $(id_str).attr('data-keyword') + '）'));
            var body_html = '<div class="form-horizontal">\
    <div class="form-group">\
        <label class="col-sm-2 control-label">域名</label>\
        <div class="col-sm-9">\
            <div class="input-group">\
                <input id="disp-host" type="text" class="form-control" value="' + $(id_str).attr('data-host') + '" readonly></input>\
                <span class="input-group-addon btn btn-primary btn-clipboard" data-clipboard-target="#disp-host" data-toggle="tooltip" data-placement="bottom" title="Copied!"><i class="glyphicon glyphicon-copy"></i></span>\
            </div>\
        </div>\
    </div>\
    <div class="form-group">\
        <label class="col-sm-2 control-label">用户名</label>\
        <div class="col-sm-9">\
            <div class="input-group">\
                <input id="disp-username" type="text" class="form-control" value="' + $(id_str).attr('data-username') + '" readonly></input>\
                <span class="input-group-addon btn btn-primary btn-clipboard" data-clipboard-target="#disp-username" data-toggle="tooltip" data-placement="bottom" title="Copied!"><i class="glyphicon glyphicon-copy"></i></span>\
            </div>\
        </div>\
    </div>\
    <div class="form-group">\
        <label class="col-sm-2 control-label">密码</label>\
        <div class="col-sm-9">\
            <div class="input-group">\
                <input id="disp-password" type="text" class="form-control" value="' + $(id_str).attr('data-password') + '" readonly></input>\
                <span class="input-group-addon btn btn-primary btn-clipboard" data-clipboard-target="#disp-password" data-toggle="tooltip" data-placement="bottom" title="Copied!"><i class="glyphicon glyphicon-copy"></i></span>\
            </div>\
        </div>\
    </div>\
    <div class="form-group">\
        <label class="col-sm-2 control-label">备注信息</label>\
        <div class="col-sm-9">\
            <textarea class="form-control" rows="8" readonly>' + $(id_str).attr('data-comments') + '</textarea>\
        </div>\
    </div>\
    <div class="form-group">\
        <div class="col-sm-offset-2 col-sm-10">\
            <button type="button" class="btn btn-primary" onclick="edit_record(id)">编辑</button>\
            <button type="button" class="btn btn-danger" onclick="delete_record(id)">删除</button>\
        </div>\
    </div></div>';
            notification_init(header_html, body_html, '');
            clipboard.destroy();
            clipboard = new ClipboardJS('.btn-clipboard');
            clipboard.on('success', function(e) {
                $(e.trigger).tooltip();
            });
            notification_show();
        }
        function switch_password(e) {
            $(e).children().eq(0).toggleClass("hidden");
            $(e).children().eq(1).toggleClass("hidden");
        }
    </script>
{% endblock %}
