{% extends "common/base.html" %}
{% import "common/wtf.html" as wtf %}
{% import "common/macros.html" as macros %}

{% block title %}Edit Stills{% endblock %}

    {% block page_content %}
        <div id="new-still" class="boxed-group">
            <div class="header">添加剧照</div>
            <div class="content">
                <form class="form-horizontal" action="{{ url_for('movie.add_still', poster_id=poster_id) }}" method="post" enctype="multipart/form-data" role="form">
                    {{ form_new.hidden_tag() }}
                    <div class="form-group">
                        <label for="new-still-min" class="col-sm-2 control-label">时间轴</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></div>
                                {{ form_new.time_min(id='new-still-min', class='form-control text-right', placeholder='00') }}
                                <div class="input-group-addon" style="border-left:0; border-right:0;">分</div>
                                {{ form_new.time_sec(id='new-still-sec', class='form-control text-right', placeholder='00') }}
                                <div class="input-group-addon">秒</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-still-method" class="col-sm-2 control-label">上传电影剧照</label>
                        <div class="col-sm-7">
                            {{ form_new.method(id='new-still-method', class='form-control', onchange='switch_upload_method(this.value, "new-still-file", "new-still-url");') }}
                            <div>
                                {{ form_new.img_file(id='new-still-file', class='form-control') }}
                                {{ form_new.img_url(id='new-still-url', class='form-control hidden', placeholder='http://') }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="new-still-comment" class="col-sm-2 control-label">要说的话</label>
                        <div class="col-sm-9">
                            {{ form_new.comment(class='form-control', id='new-still-comment', placeholder='说点什么吧 ......') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-9">
                            {{ form_new.submit(value='添加此剧照', class='btn btn-default') }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="edit-stills" class="boxed-group">
            <div class="header">编辑剧照</div>
            <div class="content">
            {% for form in forms %}
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{{ url_for('static', filename='img/poster/{0}/{1}.jpg'.format(poster_id, form.id)) }}" />
                    </div>
                    <div class="col-sm-6">
                        <form class="form" action="{{ url_for('movie.edit_still', still_id=form.id) }}" method="post">
                            {{ form_new.hidden_tag() }}
                            <div class="form-group">
                                <label>时间轴</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></div>
                                    {{ form.time_min(class="form-control text-right", placeholder="00") }}
                                    <div class="input-group-addon" style="border-left:0; border-right:0;">分</div>
                                    {{ form.time_sec(class="form-control text-right", placeholder="00") }}
                                    <div class="input-group-addon">秒</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>想说的话</label>
                                {{ form.comment(class="form-control", placeholder="说点什么吧......") }}
                            </div>
                            <div class="form-group">
                                {{ form.submit(value="提交更新", class="btn btn-primary") }}
                            </div>
                        </form>
                        <button class="btn btn-danger"
                                onclick="head_url('{{ url_for('movie.delete_still', still_id=form.id) }}', '确定删除此剧照吗？');">
                            删除此图
                        </button>
                    </div>
                </div>
                <hr>
            {% endfor %}
            {% if pagination %}
                <div class="pagination">
                    {{ macros.pagination_widget(pagination, 'movie.edit_stills', poster_id=poster_id) }}
                </div>
            {% endif %}
            </div>
        </div>
    {% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}