{% extends "movie/movie_base.html" %}
{% import "common/macros.html" as macros %}


{% block title %}{{ post.name }} | PySite - Blog{% endblock %}


{% block movie_main %}
    {% if current_user.can(Permission.CURD_MOVIE) %}
    <a href="{{ url_for('.edit_stills', post_id=post.id) }}" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-th text-muted"></span></a>
    <a href="javascript:delete_post();" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-trash text-muted"></span></a>
    <a href="{{ url_for('.edit_post', post_id=post.id) }}" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-edit text-muted"></span></a>
    <a href="{{ url_for('.add_post') }}" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-plus text-muted"></span></a>
    {% endif %}

    <h1 class="docs-post-title docs-text-movie">{{ post.name }}<small><span>{{ post.o_name }}</span>{% if post.private %}<span class="glyphicon glyphicon-eye-close"></span>{% endif %}</small></h1>
    <div class="docs-post-metas">
        <span><i class="glyphicon glyphicon-film"></i><a href="{{ post.reference }}">豆瓣详情</a></span>
        <span><i class="glyphicon glyphicon-calendar"></i>{{ moment(post.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</span>
        <span><i class="glyphicon glyphicon-bookmark"></i><a href="{{ url_for('.index', c_id=post.category_id) }}">{{ post.category.name }}</a></span>
        {% for tag in post.tags %}
        <span><i class="glyphicon glyphicon-tag"></i>{{ tag.name }}</span>
        {% endfor %}
        {% if current_user.can(Permission.CURD_MOVIE) %}
        <span><i class="glyphicon glyphicon-pencil" role="button" onclick="$('.docs-edit-metas').toggleClass('hidden');$(this).toggleClass('docs-text-movie')"></i></span>
        <div class="docs-edit-metas hidden">
            <form id="docs-edit-metas" action="{{ url_for('.edit_tags', post_id=post.id) }}" method="post">{% for tag in post.category.tags %}
                <label class="checkbox-inline"><input type="checkbox" name="cb-{{ tag.id }}" value="{{ tag.id }}"{% if tag in post.tags %} checked{% endif %}/> {{ tag.name }}</label>{% endfor %}
                <label class="checkbox-inline" onclick="$('#docs-edit-metas').submit()"><span class="glyphicon glyphicon-ok docs-text-movie"></span></label>
            </form>
        </div>
        {% endif %}
    </div>


    <img class="movie-post-poster" src="{{ url_for('.serve_image', post_id=post.id, filename='archive.jpg') }}"/>
    <div class="movie-post-main">
        <p><b>导演：</b>{{ post.director }}</p>
        <p><b>编剧：</b>{{ post.screenwriter }}</p>
        <p><b>主演：</b>{{ post.performers }}</p>
        <p><b>别名：</b>{{ post.alias }}</p>
        <p><b>时长：</b>{{ post.length }}</p>
        <p><b>地区：</b>{{ post.country }}</p>
        <p><b>上映日期：</b>{{ post.release_date }}</p>
        <p><b>电影简介：</b>{{ post.introduction_cut }}</p>
    </div>

    <div class="clearfix"></div>

    {% if current_user.can(Permission.CURD_MOVIE) %}{% include 'movie/_add_still.html' %}{% endif %}

    <div class="movie-still-list panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">电影剧照</h3>
        </div>
        <ul class="list-group">
        {% for still in stills %}
            <li class="movie-still-item list-group-item">
                <img src="{{ url_for('movie.serve_image', post_id=post.id, filename='{0}.jpg'.format(still.id)) }}"/>
                <p>{% if still.private %}<small><span class="glyphicon glyphicon-eye-close"></span></small>{% endif %}{{ still.comment }}</p>
            </li>
        {% endfor %}
        </ul>
    </div>

    {% if pagination %}
    <div class="pagination">
        {{ macros.widget_pagination(pagination, '.get_post', fragment='#still-list', post_id=post.id) }}
    </div>
    {% endif %}
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        function delete_post() {
            notification_init('提示', '确定将电影《{{ post.name }}》删除？', '<button class="btn btn-success" data-dismiss="modal">取消</button><button class="btn btn-danger" onclick="confirm_delete()">删除</button>');
            notification_show();
        }
        function confirm_delete() {
            $.get("{{ url_for('.delete_post', post_id=post.id) }}", function(){
                window.opener=null;
                window.open('','_self');
                window.close();
            });
        }
    </script>
{% endblock %}
