{% extends "common/base.html" %}


{% block header %}{{ super() }}{% endblock %}

{% block header2 %}
    <header>
        <div class="docs-bg-frame docs-bg-frame-movie"></div>
    </header>
{% endblock %}

{% block content %}
    <section class="container">
        <div class="docs-page-wrapper docs-page-movie">
            <div class="docs-page-header">
            {% block docs_page_header %}{% endblock %}
            </div>
            <div class="movie-main-wrapper">
            {% block movie_main %}{% endblock %}
            </div>
            <div class="docs-page-footer">
            {% block docs_page_footer %}{% endblock %}
            </div>
        </div>
    </section>
{% endblock content %}
