{% extends "movie/movie_base.html" %}
{% import "common/macros.html" as macros %}


{% block title %}Index | PySite - Movie{% endblock %}


{% block movie_main %}

    {{ macros.widget_navigation_tabs(categories, c_sel) }}

    {% if current_user.can(Permission.CURD_MOVIE) %}
    <a href="{{ url_for('.add_post') }}" class="docs-page-tool pull-right"><span class="glyphicon glyphicon-plus text-muted"></span></a>
    {% endif %}

    <div class="clearfix"></div>

    <div class="movie-item-list">
        {% for post in posts %}
        <div class="movie-item-wrapper">
            <img class="movie-item-poster" src="{{ url_for('.serve_image', post_id=post.id, filename='archive.jpg') }}"/>
            <div class="movie-item-main">
                <h2 class="movie-item-title">
                    <a href="{{ url_for('.get_post', post_id=post.id) }}" class="docs-text-movie">{{ post.name }}</a>
                    <small><span>{{ post.o_name }}</span>{% if post.private %}<span class="glyphicon glyphicon-eye-close"></span>{% endif %}</small>
                </h2>
                <p><b>导演：</b>{{ post.director }}</p>
                <p><b>编剧：</b>{{ post.screenwriter }}</p>
                <p><b>主演：</b>{{ post.performers }}</p>
                <p><b>别名：</b>{{ post.alias }}</p>
                <p><b>电影时长：</b>{{ post.length }}</p>
                <p><b>上映地区：</b>{{ post.country }}</p>
                <p><b>上映日期：</b>{{ post.release_date }}</p>
            </div>
            <div class="clearfix"></div>
            <div class="docs-post-metas">
                <span><i class="glyphicon glyphicon-film"></i><a href="{{ post.reference }}" target="_blank">豆瓣详情</a></span>
                <span><i class="glyphicon glyphicon-calendar"></i>{{ moment(post.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</span>
                <span><i class="glyphicon glyphicon-bookmark"></i><a href="{{ url_for('.index', c_id=post.category_id) }}">{{ post.category.name }}</a></span>
                {% for tag in post.tags %}
                <span><i class="glyphicon glyphicon-tag"></i>{{ tag.name }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    {% if pagination %}{{ macros.widget_pagination(pagination, '.index') }}{% endif %}
{% endblock %}
